* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    min-height: 100vh;
    color: white;
    text-align: center;
}

/* BACKGROUND */
body::before {

    content: "";

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background:
    linear-gradient(rgba(77,54,12,0.6), rgba(77,54,12,0.6)),
    url("../images/paket.png");

    background-size: cover;
    background-position: center;

    z-index: -1;
}

.container {
    padding: 30px;
}

.logo {
    width: 140px;
    cursor: pointer;
    margin-bottom: 10px;
}

.title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.menu-nav {
    margin-bottom: 30px;
}

.menu-btn {

    background: rgba(255,255,255,0.9);
    color: black;

    padding: 10px 25px;
    margin: 5px;

    border-radius: 25px;

    text-decoration: none;
    font-weight: 500;

    transition: 0.3s;
}

.menu-btn.active {
    background: green;
    color: white;
}

/* CARD CONTAINER */
.card-container {

    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* CARD */
.card {

    width: 280px;
    padding: 20px;

    border-radius: 20px;

    background: rgba(255,255,255,0.92);

    color: black;
    text-align: left;

    box-shadow: 0 8px 20px rgba(0,0,0,0.25);

    transition: 0.3s;
}

.card:hover {

    transform: translateY(-5px);
}

.card h2 {

    text-align: center;
    font-size: 28px;
    margin-bottom: 5px;
}

.price {

    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

ul {

    margin-left: 18px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5;
}
