* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
}

/* HERO SECTION */
.hero {

    height: 100vh;

    background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("../images/background.png");

    background-size: cover;
    background-position: center;

    color: white;
    position: relative;
}

/* NAVBAR */
.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 60px;
}

.navbar img {
    height: 60px;
}

.nav-menu {

    display: flex;
    gap: 40px;
}

.nav-menu a {

    color: white;
    text-decoration: none;
    font-weight: 400;

    transition: 0.3s;
}

.nav-menu a:hover {
    color: orange;
}

/* HERO CONTENT */
.hero-content {

    position: absolute;
    top: 50%;
    left: 60px;

    transform: translateY(-50%);

    max-width: 600px;
}

.hero-content h1 {

    font-size: 48px;
    font-weight: 600;

    margin-bottom: 10px;
}

.hero-content p {

    font-size: 18px;

    margin-bottom: 30px;
}

/* BUTTON */
.btn {

    padding: 12px 30px;

    border: 2px solid orange;

    color: orange;
    text-decoration: none;

    border-radius: 10px;

    font-weight: 500;

    transition: 0.3s;
}

.btn:hover {

    background: orange;
    color: white;
}
