* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {

    background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("../images/image 1.png");

    background-size: cover;
    background-position: center;

    height: 100vh;

    color: white;
}

.container {

    padding: 50px 80px;
}

/* LOGO */
.logo {

    width: 140px;

    margin-bottom: 10px;

    cursor: pointer;
}

/* TITLE */
.title {

    font-size: 36px;

    margin-bottom: 30px;
}

/* CONTENT */
.content {

    display: flex;

    gap: 40px;

    align-items: center;

    flex-wrap: wrap;
}

/* FORM */
.form-box {

    width: 400px;
}

.form-box input {

    width: 100%;

    padding: 15px;

    margin-bottom: 20px;

    border-radius: 12px;

    border: none;

    background: rgba(255,255,255,0.7);

    font-size: 14px;
}

/* BUTTON */
.btn {

    background: orange;

    border: none;

    padding: 12px 25px;

    border-radius: 10px;

    color: white;

    cursor: pointer;

    font-weight: 500;

    transition: 0.3s;
}

.btn:hover {

    background: darkorange;
}

/* MAP */
.map img {

    width: 400px;

    border-radius: 15px;
}
