* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.tentang-section {

    min-height: 100vh;

    background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("../images/image 1.png");

    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 60px;

    color: white;
}

/* LOGO */
.logo {

    width: 150px;

    margin-bottom: 10px;

    cursor: pointer;

    transition: 0.3s;
}

.logo:hover {

    transform: scale(1.05);
}

/* TITLE */
.title {

    font-size: 36px;

    font-weight: 600;

    margin-bottom: 30px;
}

/* TEXT BOX */
.text-box {

    width: 80%;

    max-width: 900px;

    border: 2px solid rgba(255,255,255,0.3);

    padding: 25px;

    background: rgba(0,0,0,0.35);

    margin-bottom: 40px;

    border-radius: 10px;
}

.text-box h3 {

    margin-bottom: 15px;
}

.text-box p {

    line-height: 1.7;

    margin-bottom: 15px;
}

/* LAYANAN BOX */
.layanan-box {

    background: rgba(255,165,0,0.75);

    padding: 20px 40px;

    border-radius: 15px;

    text-align: center;
}

.layanan-list {

    display: flex;

    gap: 80px;

    text-align: left;

    margin-top: 15px;
}
